body{
    /* background-color: rgb(235, 215, 180);
    background-color: rgb(225, 225, 225); */
    background-image: linear-gradient(rgb(225, 225, 225),rgb(235, 215, 180));
}
#U{
    font-family: 'Raleway', sans-serif;
    font-size: 55pt;
    transition-duration: 0.5s;
}
.head{
    background-color: rgb(240, 240, 240);
    height: 30%;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0px 0px 0px;
    transition-duration: 0.5s;
}
.head:hover{
    font-size: larger;
    width: 60%;
    transition-duration: 0.7s;
    
   
}

#U:hover{
    font-size:65pt;
    transition-duration: 0.7s;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content:center;
}


.f1{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: rgb(250, 250, 250);
    width: 15%;
    height: 400px;
    margin: 100px 40px 0 0;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 23pt;
    border-radius: 45px;
    text-align: center;
    padding: 0 10 10 10;
    transition-duration: 0.5s;
}
.f2{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
    background-color: rgb(250, 250, 250);
    width: 15%;
    height: 400px;
    margin: 100px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 23pt;
    border-radius: 45px;
    text-align: center;
    padding: 0 10 10 10;
    transition-duration: 0.5s;

}
.f3{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
    background-color: rgb(250, 250, 250);
    width: 15%;
    height: 400px;
    margin: 100px 0 0 40px;
   
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 23pt;
    border-radius: 45px;
    text-align: center;
    padding: 0 10 10 10;
    transition-duration: 0.5s;
}
.f1:hover{
    border-radius: 100px;
    padding: 0 25 10 25;
    transition-duration: 0.5s;
    height: 450px;
    box-shadow: 0px 0px 50px rgb(180, 255, 224);
}
.f2:hover{
    border-radius: 100px;
    padding: 0 30 10 30;
    transition-duration: 0.5s;
    height: 450px;
    box-shadow: 0px 0px 50px rgb(255, 150, 197);
    
}
.f3:hover{
    border-radius: 100px;
    padding: 0 25 10 25;
    transition-duration: 0.5s;
    height: 450px;
    box-shadow: 0px 0px 50px rgb(255, 213, 149);
}

#jj{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
#sidebar{
    position: fixed;
    width: 250px;
    
    background: #677483;
    border: none;
    left: -250px;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#sidebar.active{
    left: 0px;
}
#sidebar ul li:first-child{
    text-align: center;
    color: white;
    font-size: 2em;
    list-style: none;
    padding: 20px 20px 10px 0px;

}
#sidebar ul li:not(:first-child){
    width: 90%;
    margin-left: 10%;
    font-size: 1.15em;
    list-style: none;
    padding: 15px 10px;

}
#sidebar ul li a{
    color: #dfe5eb;
    text-decoration: none;


}
#sidebar ul li a:hover{
    color: #59e9df;
}
#sidebar .toggle-btn{
    position: absolute;
    left: 270px;
    top:20px;
    background: #E0E5EA;
    padding:10px;
    border-radius: 12px;
    cursor:pointer;

}
#sidebar .toggle-btn:hover{background: #556270;transition: all 500ms;}
#sidebar .toggle-btn:hover span{background: #fafafa;}

#sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0 ;


}
#instr{
    
    background-color: rgb(250, 250, 250);
    height: 400px;
    width: 800px;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    transition-duration: 0.5s;
}
#instrzag{
    text-align: center;
    font-size: 37pt;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
}
#silk{
    color: #e95474;
    text-decoration: none;
}
.list{
    text-align: left;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    transition-duration: 0.4s;
}
#instr:hover{
    height: 450px;
    width: 1000px;
    transition-duration: 0.5s;
    background: transparent;
    
}
.list:hover{
    transition-duration: 0.3s;
    font-size: 25pt;
}
